<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Infinity.My.MySettings.infinityConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=infinity;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="infinityConnectionString" connectionString="XpoProvider=MSSqlServer;data source=.\sqlexpress;integrated security=SSPI;initial catalog=infinity" />
        <add name=".\sqlexpress_infinity_Connection" connectionString="XpoProvider=MSSqlServer;data source=.\sqlexpress;integrated security=SSPI;initial catalog=infinity" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
